/* [project]/Frontend-Dev/main-parent/packages/design-system/dist/index.css [app-client] (css) */
:root, .light {
  --color-brand-primary: #007aff;
  --color-brand-secondary: #5ac8fa;
  --color-brand-accent: #ff9500;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;
  --color-text-placeholder: #adb5bd;
  --color-text-on-brand: #fff;
  --color-text-link: #007aff;
  --color-bg-body: #f8f9fa;
  --color-bg-surface: #fff;
  --color-bg-surface-hover: #f8f9fa;
  --color-bg-secondary: #f1f5f9;
  --color-bg-accent: #e0f2fe;
  --color-border-primary: #dee2e6;
  --color-border-secondary: #e9ecef;
  --color-utility-success: #34c759;
  --color-utility-error: #ff3b30;
  --color-utility-warning: #fc0;
  --color-utility-info: #007aff;
  --color-heading: #212529;
}

.dark {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #5ac8fa;
  --color-brand-accent: #ff9500;
  --color-text-primary: #f8f9fa;
  --color-text-secondary: #ced4da;
  --color-text-placeholder: #adb5bd;
  --color-text-on-brand: #fff;
  --color-text-link: #5ac8fa;
  --color-bg-body: #000;
  --color-bg-surface: #212529;
  --color-bg-surface-hover: #343a40;
  --color-bg-secondary: #1e293b;
  --color-bg-accent: #0c4a6e;
  --color-border-primary: #343a40;
  --color-border-secondary: #495057;
  --color-utility-success: #34c759;
  --color-utility-error: #ff3b30;
  --color-utility-warning: #fc0;
  --color-utility-info: #007aff;
  --color-heading: #f8f9fa;
}

.light, :root, .dark {
  background: var(--color-bg-body);
  color: var(--color-text-primary);
}

.icon-button {
  cursor: pointer;
  border: none;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  transition: background-color .2s, transform .1s;
  display: inline-flex;
}

.icon-button--sm {
  width: 32px;
  height: 32px;
  font-size: 1rem;
}

.icon-button--md {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
}

.icon-button--lg {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
}

.icon-button--default {
  color: var(--color-text-primary);
  background-color: rgba(0, 0, 0, 0);
}

.icon-button--default:hover {
  background-color: var(--color-bg-surface-hover);
}

.icon-button--primary {
  background-color: var(--color-brand-primary);
  color: var(--color-text-on-brand);
}

.icon-button--secondary {
  background-color: var(--color-brand-secondary);
  color: var(--color-text-on-brand);
}

.icon-button--danger {
  background-color: var(--color-utility-error);
  color: var(--color-text-on-brand);
}

.icon-button:active {
  transform: scale(.95);
}

.theme-switch {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: .375rem;
  padding: .5rem;
  font-size: 1.5rem;
  line-height: 1;
  transition: transform .2s;
}

.theme-switch:hover {
  transform: scale(1.15);
}

.label {
  color: var(--color-text-primary);
  font-family: Vazirmatn, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.label--secondary {
  color: var(--color-text-secondary);
}

.label--error {
  color: var(--color-utility-error);
}

.label--disabled {
  color: var(--color-text-placeholder);
  cursor: not-allowed;
  opacity: .6;
}

.label--with-icon {
  align-items: center;
  gap: .5rem;
  display: inline-flex;
}

.label--xs {
  font-size: .75rem;
}

.label--sm {
  font-size: .875rem;
}

.label--md {
  font-size: 1rem;
}

.label--lg {
  font-size: 1.125rem;
}

.label--xl {
  font-size: 1.25rem;
}

.label--2x {
  font-size: 1.5rem;
}

.label--3x {
  font-size: 1.875rem;
}

.label--4x {
  font-size: 2.25rem;
}

.header {
  background-color: var(--color-bg-surface);
  border-bottom: 1px solid var(--color-border-primary);
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
}

.header__start, .header__center, .header__end {
  flex: 1;
  align-items: center;
  display: flex;
}

.header__start {
  justify-content: start;
}

.header__center {
  justify-content: center;
}

.header__end {
  justify-content: end;
}

.header__mobile-logo {
  cursor: pointer;
  color: var(--color-brand-primary);
  font-size: 1.75rem;
  display: none;
}

@media (max-width: 1024px) {
  .header__mobile-logo {
    display: flex;
  }

  .header__back-button {
    display: none;
  }
}

.header__actions {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.avatar {
  color: var(--color-text-secondary);
  vertical-align: middle;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.avatar--sm {
  width: 32px;
  height: 32px;
  font-size: .875rem;
}

.avatar--md {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

.avatar--lg {
  width: 48px;
  height: 48px;
  font-size: 1.125rem;
}

.avatar__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatar__fallback {
  text-transform: uppercase;
}

.avatar-dropdown-container {
  display: inline-block;
  position: relative;
}

.avatar-dropdown-trigger {
  cursor: pointer;
}

.avatar-dropdown {
  z-index: 30;
  background-color: var(--color-bg-surface);
  border: 1px solid var(--color-border-primary);
  border-radius: .5rem;
  width: 200px;
  position: absolute;
  top: calc(100% + .75rem);
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1), 0 4px 6px rgba(0, 0, 0, .05);
}

.avatar-dropdown--left:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.avatar-dropdown--left:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.avatar-dropdown--left:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.avatar-dropdown--left:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

.avatar-dropdown--left:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

.avatar-dropdown--left:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

.avatar-dropdown--right:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  right: 0;
}

.avatar-dropdown--right:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  right: 0;
}

.avatar-dropdown--right:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  right: 0;
}

.avatar-dropdown--right:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  left: 0;
}

.avatar-dropdown--right:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  left: 0;
}

.avatar-dropdown--right:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  left: 0;
}

.avatar-dropdown ul {
  margin: 0;
  padding: .5rem 0;
  list-style: none;
}

.avatar-dropdown__item {
  cursor: pointer;
  align-items: center;
  padding: .5rem 1rem;
  transition: background-color .2s;
  display: flex;
}

.avatar-dropdown__item:hover {
  background-color: var(--color-bg-surface-hover);
}

.avatar-dropdown__item-icon {
  color: var(--color-text-secondary);
  align-items: center;
  display: flex;
}

.avatar-dropdown__item-icon:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: .75rem;
}

.avatar-dropdown__item-icon:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: .75rem;
}

.avatar-dropdown__item-icon:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: .75rem;
}

.avatar-dropdown__item-icon:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: .75rem;
}

.avatar-dropdown__item-icon:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: .75rem;
}

.avatar-dropdown__item-icon:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: .75rem;
}

.sidebar-menu-item__trigger {
  cursor: pointer;
  color: var(--color-text-secondary);
  border-radius: .375rem;
  align-items: center;
  padding: .75rem 1rem;
  transition: background-color .2s, color .2s;
  display: flex;
}

.sidebar-menu-item__trigger:hover {
  background-color: var(--color-bg-surface-hover);
  color: var(--color-text-primary);
}

.sidebar-menu-item--active > .sidebar-menu-item__trigger {
  background-color: var(--color-bg-surface-hover);
  color: var(--color-brand-primary);
}

.sidebar-menu-item--active > .sidebar-menu-item__trigger .sidebar-menu-item__icon {
  color: var(--color-brand-primary);
}

.sidebar-menu-item__icon {
  align-items: center;
  transition: color .2s;
  display: flex;
}

.sidebar-menu-item__icon:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: 1rem;
}

.sidebar-menu-item__icon:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: 1rem;
}

.sidebar-menu-item__icon:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  margin-right: 1rem;
}

.sidebar-menu-item__icon:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: 1rem;
}

.sidebar-menu-item__icon:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: 1rem;
}

.sidebar-menu-item__icon:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  margin-left: 1rem;
}

.sidebar-menu-item__label-wrapper {
  white-space: nowrap;
  opacity: 0;
  flex-grow: 1;
  width: 0;
  transition: opacity .3s, width .3s;
  overflow: hidden;
}

.sidebar-menu-item__label-wrapper--expanded {
  opacity: 1;
  width: auto;
}

.sidebar-menu-item__chevron {
  transition: transform .3s;
}

.sidebar-menu-item__chevron--open {
  transform: rotate(180deg);
}

.sidebar-menu-item__submenu {
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;
}

.sidebar-menu-item__submenu:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  padding-left: 1rem;
}

.sidebar-menu-item__submenu:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  padding-left: 1rem;
}

.sidebar-menu-item__submenu:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  padding-left: 1rem;
}

.sidebar-menu-item__submenu:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  padding-right: 1rem;
}

.sidebar-menu-item__submenu:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  padding-right: 1rem;
}

.sidebar-menu-item__submenu:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  padding-right: 1rem;
}

.sidebar-menu-item__submenu--open {
  max-height: 1000px;
}

.sidebar {
  z-index: 40;
  background-color: var(--color-bg-surface);
  flex-direction: column;
  width: 5rem;
  transition: width .3s ease-in-out;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.sidebar:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  border-right: 1px solid var(--color-border-primary);
  left: 0;
}

.sidebar:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  border-right: 1px solid var(--color-border-primary);
  left: 0;
}

.sidebar:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  border-right: 1px solid var(--color-border-primary);
  left: 0;
}

.sidebar:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  border-left: 1px solid var(--color-border-primary);
  right: 0;
}

.sidebar:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  border-left: 1px solid var(--color-border-primary);
  right: 0;
}

.sidebar:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  border-left: 1px solid var(--color-border-primary);
  right: 0;
}

.sidebar--expanded {
  width: 16rem;
}

.sidebar__header {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  position: relative;
}

.sidebar__logo {
  color: var(--color-brand-primary);
  font-size: 1.75rem;
  transition: opacity .2s;
}

.sidebar__app-name {
  color: var(--color-text-primary);
  white-space: nowrap;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 700;
  transition: opacity .2s;
  position: absolute;
}

.sidebar--expanded .sidebar__app-name {
  opacity: 1;
}

.sidebar__nav {
  flex-grow: 1;
  padding: .5rem;
  overflow-y: auto;
}

.sidebar__footer {
  border-top: 1px solid var(--color-border-primary);
  flex-shrink: 0;
  padding: .5rem;
}

.admin-page-layout {
  background-color: var(--color-bg-body);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.admin-page-layout--rtl {
  direction: rtl;
}

.admin-page-layout--ltr {
  direction: ltr;
}

.admin-page-layout__sidebar-wrapper {
  z-index: 40;
  transition: transform .3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
}

.admin-page-layout__sidebar-wrapper:not(:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.admin-page-layout__sidebar-wrapper:not(:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.admin-page-layout__sidebar-wrapper:not(:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))) {
  left: 0;
}

.admin-page-layout__sidebar-wrapper:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

.admin-page-layout__sidebar-wrapper:-moz-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

.admin-page-layout__sidebar-wrapper:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: 0;
}

@media (max-width: 1024px) {
  .admin-page-layout--rtl .admin-page-layout__sidebar-wrapper {
    transform: translateX(100%);
  }

  .admin-page-layout--ltr .admin-page-layout__sidebar-wrapper {
    transform: translateX(-100%);
  }

  .admin-page-layout__sidebar-wrapper--mobile-open {
    transform: translateX(0);
  }
}

.admin-page-layout__overlay {
  z-index: 30;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1024px) {
  .admin-page-layout__overlay {
    display: none;
  }
}

.admin-page-layout__main {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.admin-page-layout__header {
  flex-shrink: 0;
}

.admin-page-layout__content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

/*# sourceMappingURL=Frontend-Dev_main-parent_packages_design-system_dist_index_css_bad6b30c._.single.css.map*/